body {
    width: 1080px;
    margin: 0 auto;
}


header {
    margin-top: 0px;
    margin-left: 0px;
    background-color: lightskyblue;
}

#logo {
    background-image: url(../img/pattern.png);
    background-size: 400px 200px;
    height: 150px;
}

.size {
    height: 230px;
    width: 250px;
}

.tim {
    margin-left: 0px;
}

.background-yellow {
    background-color: yellow;
}

#title {
    font-size: 50px;
    font-weight: bold;
}

#celeste {
    color: lightblue;
}

.grigio {
    color: gray;
}

figcaption {
    font-style: italic;
    font-size: 12px;
}

thead {
    background-color: rgb(24, 126, 209);
    color: white;
}

#prima {
    height: 10px;
    width: 25%;
}

#seconda {
    height: 10px;
    width: 25%;
}

#terza {
    height: 10px;
    width: 50%;
}

.sfondo-celeste {
    background-color: lightblue;
}

figure {
    margin-left: 0px;

}

#prima-immagine {
    margin-top: 0px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: red;
    font-size: 140%;
    font-weight: normal;
    line-height: 260px;
    width: 240px;
    height: 150px;
  }

  #seconda-immagine {
    margin-top: 0px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: red;
    font-size: 140%;
    font-weight: normal;
    line-height: 260px;
    width: 240px;
    height: 150px;
  }