header {
    margin-top: 0;
    margin-left: 0;
    background-color: lightskyblue;
}


#logo {
    background-image: url(../img/pattern.png);
    background-size: 400px 200px;
    height: 150px;
}

.size {
    height: 400px;
    width: 250px;
}