
header {
    margin-top: 0;
    margin-left: 0;
    background-color: lightskyblue;
}

#logo {
    background-image: url(../img/pattern.png);
    background-size: 400px 200px;
    height: 150px;
}

.size {
    height: 230px;
    width: 250px;
}

.tim {
    margin-left: 0px;
}

#background-yellow {
    background-color: yellow;
}

#title {
    font-size: 50px;
    font-weight: bold;
}

#celeste {
    color: lightblue;
}

#grigio {
    color: gray;
}

figcaption {
    font-style: italic;
    font-size: 12px;
}

thead {
    background-color: rgb(24, 126, 209);
    color: white;
}

#prima {
    height: 10px;
    width: 25%;
}

#seconda {
    height: 10px;
    width: 25%;
}

#terza {
    height: 10px;
    width: 50%;
}

#sfondo-celeste {
    background-color: lightblue;
}